# -*- coding: utf-8 -*-
#
# Copyright (C) 2021 CERN.
#
# Invenio-Requests is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

exclude .dockerignore
exclude .editorconfig
exclude .tx/config
exclude run-tests.sh
exclude pytest.ini
prune docs/_build
prune tests

include *.rst
recursive-include .github/workflows *.yml
recursive-include invenio_requests/translations *.po *.pot *.mo
recursive-include invenio_requests *.py
recursive-include invenio_requests *.json
recursive-include invenio_requests *.html
